@model WebSQL.Areas.Admin.Controllers.RolesIndexView
@{
    ViewBag.Title = "User and Roles";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                <div class="button-box">
                    <a href="@Url.Action("RoleList","Roles",new { @area="Admin" })" class="btn btn-info btn-group" aria-haspopup="true" aria-expanded="false">
                        Management Roles
                    </a>
                    <button type="button" class="btn btn-info btn-group" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Create User
                    </button>
                </div>
                <br />
                <h2>
                    @foreach (var item in Model.RoleAndUsers)
                    {
                        <a href="@Url.Action("Index","Roles",new { @area="Admin",@id=item.RoleName } )">@item.RoleDisplayName (@item.Users)</a>
                    }

                </h2>
            </div>
            <div class="body">
                <table id="demo-foo-filtering" class="table table-bordered table-hover toggle-circle" data-page-size="7">
                    <thead>
                        <tr>
                            <th data-toggle="true">User Name</th>
                            <th>Email</th>
                            <th data-hide="phone, tablet">Phone Number</th>
                        </tr>
                    </thead>
                    @*<div class="form-inline">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="control-label">Status</label>
                                    <select id="demo-foo-filter-status" class="form-control">
                                        <option value="">Show all</option>
                                        <option value="active">Active</option>
                                        <option value="disabled">Disabled</option>
                                        <option value="suspended">Suspended</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <input id="demo-foo-search" type="text" placeholder="Search" class="form-control pull-right" autocomplete="off">
                                </div>
                            </div>
                        </div>*@
                    <tbody>
                        @foreach (var item in Model.Users)
                        {
                            <tr>
                                <td><a href="@Url.Action("EditUser","Roles",new { @area="Admin",@id=item.Id })">@item.UserName</a></td>
                                <td>@item.Email</td>
                                <td>
                                    @*label label-table label-success*@
                                    <span class="">
                                        @item.PhoneNumber
                                    </span>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <div class="text-right">
                                    <ul class="pagination"></ul>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

@section script{
    <script src="/admin-lib/plugins/footable/js/footable.all.min.js"></script>
    <script src="/admin-lib/plugins/footable/js/footable.min.js"></script>
}



