@model WebSQL.Areas.Admin.Controllers.RolesIndexView
@{
    ViewBag.Title = "User and Roles";
    var tableList = E.GetTableList(SDHCUserManager.BaseUser, new string[] { "FullName", "Email", "Phone" }).ToList();
    var adminRole = E.RoleManager().Roles.Where(b => b.Name == "Admin").Select(b => b.Id).FirstOrDefault();
    var records = ModelManager.Read<MemberShipRecord>(b => true).ToList();
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                <div class="button-box">
                    @*<a href="@Url.Action("RoleList","Roles",new { @area=E.AdminPath })" class="btn btn-info btn-group" aria-haspopup="true" aria-expanded="false">
                            Management Roles
                        </a>*@
                    <a href="@Url.Action("CreateUser","Roles",new { @area=E.AdminPath })" type="button" class="btn btn-info btn-group">
                        Create User
                    </a>
                </div>
                <br />
                @*<h2>
                        @foreach (var item in Model.RoleAndUsers)
                        {
                            <a href="@Url.Action("Index","Roles",new { @area=E.AdminPath,@id=item.RoleName } )">@item.RoleDisplayName (@item.Users)</a>
                        }

                    </h2>*@
            </div>
            <div class="body">
                <table class="table table-bordered table-striped table-hover basic-example dataTable">
                    <thead>
                        <tr>
                            @foreach (var t in tableList)
                            {
                                <th>@t.SpacesFromCamel()</th>
                            }
                            <th>
                                Membership Status
                            </th>
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            @foreach (var t in tableList)
                            {
                                <th>@t.SpacesFromCamel()</th>
                            }
                            <th>
                                Membership Status
                            </th>
                            <th>Option</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (ClubUser item in Model.Users)
                        {
                            <tr>
                                @foreach (var t in tableList)
                                {
                                    <td>
                                        @if (tableList.IndexOf(t) == 0)
                                        {
                                            <a href="@Url.Action("EditUser","Roles",new { @area=E.AdminPath,@id=item.Id })">
                                                @(String.IsNullOrEmpty(item.GetValueByKey(t)) ? item.Id : item.GetValueByKey(t))
                                            </a>
                                        }
                                        else
                                        {
                                            <span>@item.GetValueByKey(t)</span>
                                        }

                                    </td>
                                }
                                <td>
                                    @if (!item.Roles.Any(b => b.RoleId == adminRole))
                                    {
                                        if (records.Any(b => b.UserId == item.Id && b.StartDate <= DateTime.Now && b.EndDate >= DateTime.Now && b.Active))
                                        {
                                            <span>True</span>
                                        }
                                        else
                                        {
                                            <span>False</span>
                                        }

                                    }
                                    else
                                    {
                                        <span>Admin</span>
                                    }
                                </td>
                                <td>
                                    <a href="@Url.Action("EditUser","Roles",new { @area=E.AdminPath,@id=item.Id })" class="btn btn-primary">
                                        Info
                                    </a>
                                    @if (!item.Roles.Any(b => b.RoleId == adminRole) && !(records.Any(b => b.UserId == item.Id && b.StartDate <= DateTime.Now && b.EndDate >= DateTime.Now && b.Active)))
                                    {
                                        <a href="@Url.Action("Create","GolfMembership",new { @area=E.AdminPath,@id=item.Id })" class="btn btn-success" target="_blank">
                                            Create Membership
                                        </a>
                                    }
                                    @if (!item.Roles.Any(b => b.RoleId == adminRole) && records.Any(b => b.UserId == item.Id))
                                    {
                                        <a href="@Url.Action("Index","GolfMembership",new { @area=E.AdminPath,@id=item.Id })" class="btn btn-warning" target="_blank">
                                            Membership History
                                        </a>
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section script{
    <script src="/admin-lib/plugins/footable/js/footable.all.min.js"></script>
    <script src="/admin-lib/plugins/footable/js/footable.min.js"></script>
    <script>
        $(function () {
            $('.basic-example').DataTable();
        });
    </script>
}



