@using SDHC.Common.Entity.Models
@model BaseContent
@{
  var breadcrumb = new List<BaseContent>();
  if (Model != null)
  {
      var parents = Model.Parents.Select(b => b).ToList();
      parents.Reverse();
      parents.ForEach(b => breadcrumb.Add(b));
      breadcrumb.Add(Model);
  }
}
<h3 class="text-themecolor m-b-0 m-t-0">@ViewBag.Title</h3>
<ol class="breadcrumb">
    <li class="breadcrumb-item @(breadcrumb.Count==0?"active":"")">
        <a href="@Url.Action("Index","Content",new { area="admin",id="" })">Root</a>
    </li>
    @foreach (var item in breadcrumb)
    {
        <li class="breadcrumb-item @(breadcrumb.IndexOf(item)==breadcrumb.Count-1?"active":"")">
            <a href="@Url.Action("Index","Content",new { area="admin",@id = item.Id })">@item.GetType().Name</a>
        </li>
    }
</ol>
