@model ContentTableHtmlView

<table class="table table-bordered table-striped table-hover basic-example dataTable">
  <thead>
    <tr>
      <th>Id</th>
      @foreach (var item in Model.TableHeaders)
      {
        <th>@item</th>
      }
        <th>
            Option
        </th>

    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Id</th>
      @foreach (var item in Model.TableHeaders)
      {
        <th>@item</th>
      }
        <th>
            Option
        </th>
    </tr>
  </tfoot>
  <tbody>
    @foreach (var row in Model.Rows)
    {
      <tr>
        <td> <a href="@Url.Action(Model.FirstRowAction,Model.FirstRowController,Model.FirstRowObject(row))">@row.Id</a> </td>
        @foreach (var item in row.Values)
        {
          <td>@item</td>
        }
          <td>
              <a href="@Url.Action(Model.FirstRowAction,Model.FirstRowController,Model.FirstRowObject(row))" class="btn btn-primary">Info</a>
              @if (ViewBag.delete != null && !Model.DisableDelete)
              {
                  <button class="btn btn-danger" onclick="@(ViewBag.deleteFunction!=null?ViewBag.deleteFunction+"("+ row.Id +")":"")">Delete</button>
              }
          </td>

      </tr>
    }
  </tbody>
</table>
